git+https://git@github.com/yjg30737/pyqt-dark-gray-theme.git@main
git+https://git@github.com/yjg30737/pyqt-custom-titlebar-window.git@main
git+https://git@github.com/yjg30737/pyqt-resource-helper.git@main