
QMenu { background-color: #444; border: 1px solid #666;}
QMenu::item { background-color: #444; color: #DDD; }                                
QMenu::item:selected { /* when user selects item using mouse or keyboard */ background-color: #666; }
QMenu::item:disabled { color: #CCCCCC; }
QMenu::separator { background-color: #555; height: 1px;}