QMainWindow { background-color: #555; }
QDialog { background-color: #555; }
.QLabel { color: #DDD; }
QWidget {
	color: white;
}

.QCheckBox { color: #DDD; }
.QCheckBox:disabled { color: #AAA; }

QLineEdit { background: #666; color: #DDDDDD; border: none; }

QTableWidget { background-color: transparent; outline: 0; }
QTableWidget::item { background-color: #444; color: #DDD; border: 1px solid #6c6c6c; }
QTableWidget::item:hover { background-color: #666; }
QTableWidget::item:selected { background-color: #333; }
QHeaderView {
background: transparent;
}
QTableCornerButton::section { background: #444; }
QHeaderView::section { 
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
color: #DDD;
padding-left: 4px;
border: 1px solid #6c6c6c; }
QHeaderView::down-arrow {
    color: #888;
}

QHeaderView::up-arrow {
    image: url(up_arrow.png);
}

QListWidget { background-color: #444; outline: 0; }
QListWidget::item { background-color: #444; color: #DDD; outline: 0; }
QListWidget::item:hover { background-color: #666; outline: 0; }
QListWidget::item:selected { background-color: #333; }

QTreeView { background-color: #444; }
QTreeView::item { background-color: #444; color: #DDD; }
QTreeView::item:hover { background-color: #666; }
QTreeView::item:selected { background-color: #333; }

QScrollBar:horizontal {
    background: transparent;
}
QScrollBar::handle:horizontal {
    background: #666;
}
QScrollBar::add-line:horizontal {
    background: none;
}
QScrollBar::sub-line:horizontal {
    background: none;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}


QScrollBar:vertical {
     border: 1px solid grey;
     background: #222222;
     width: 15px;
     margin: 22px 0 22px 0;
 }
 QScrollBar::handle:vertical {
     background: #444444;
     min-height: 20px;
 }
 QScrollBar::add-line:vertical {
     border: 1px solid grey;
     background: #222222;
     height: 20px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     border: 1px solid grey;
     background: #222222;
     height: 20px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     width: 2px;
     height: 3px;
     background: #444;
 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }


QToolBar {
	background: #333;
	border-top: 1px solid #555;
}
QToolBar::handle {
	background: #888;
	width: 2px;
	margin-left: 4px;
	margin-right: 4px;
}
QToolBar::separator {
	background: #555;
	width: 1px;
	margin: 2px;
}


QMenu { background-color: #444; border: 1px solid #666;}
QMenu::item { background-color: #444; color: #DDD; }                                
QMenu::item:selected { /* when user selects item using mouse or keyboard */ background-color: #666; }
QMenu::item:disabled { color: #CCCCCC; }
QMenu::separator { background-color: #555; height: 1px;}
QComboBox {
background: transparent;
selection-background-color: transparent;
selection-color: black;
color: #DDD;
}
QComboBox QAbstractItemView {
    border: 1px solid darkgray;
    background: #444;
    selection-background-color: #555;
}
QSplitter::handle:vertical 
{
border-top: 1px groove #ccc;
border-bottom: 1px groove #ccc;
height: 1px;
margin-left: 0px;
margin-right: 0px;
border-color: #888;
}
QSplitter::handle:horizontal 
{
border-left: 1px groove #ccc;
border-right: 1px groove #ccc;
margin-top: 0px;
margin-bottom: 0px;
border-color: #888;
}

QTextEdit
{
	background-color: #444;
	border: none;
}

QGraphicsView
{
	background-color: #666;
}

QTabBar::tab {
    color: #b1b1b1;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}
QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}
QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */


    border-top-left-radius: 3px;
}
QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);
}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #ffaa00);
}

QMenu { background-color: #444; border: 1px solid #666;}
QMenu::item { background-color: #444; color: #DDD; }                                
QMenu::item:selected { /* when user selects item using mouse or keyboard */ background-color: #666; }
QMenu::item:disabled { color: #CCCCCC; }
QMenu::separator { background-color: #555; height: 1px;}

QMenuBar { background-color: #444; color: white; }

                                    QMenuBar::item:selected { /* when selected using mouse or keyboard */
                                        background: #666;
                                    }
                                    
                                    QMenuBar::item:pressed {
                                        background: #555;
                                    }

QMenuBar::item:disabled {
	color: #CCCCCC;
}

QGroupBox {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 7px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 0 3px;
}

QSpinBox {
	color: #DDD;
    	border: 2px solid gray;
	border-radius: 5;
	padding: 2;
	background: transparent;
	font-size: 14px;
}

QTimeEdit {
	background-color: #444;
	color: #DDD;
}